.social-media{
    text-align: center;
    
}
.league-details{
 background-color:rgb(53, 135, 165);
  display: flex;
   width: 80%;
   margin-left: 11%;
   border-radius: 10px;


}
.BannerColor{
background-color:white;

}