.HomePageBanner{
    position: relative;
    }
    .HomeBanner{
     position: relative;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.8;
    }
    .BannerHeading{ 
     color: rgb(50, 30, 30);
        position: absolute;
        left: 40%;
        bottom:40%;
    }
    .text{
    font-size:200%;
  
    }